{% extends "layout.html" %}
{% block content %}
    {% for row in outString %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ row }}</a>		  
              <small class="text-muted">{{ row['pno'] }}   </small>		  
            </div>
			<h2><a class="article-title" href="{{ url_for('assign',essn=row.essn, pno=row.pno) }}">{{ row.fname }} {{ row.lname }} has been assigned to project number {{ row.pno }}</a></h2>
          </div>
        </article>
     {% endfor %}
{% endblock content %}